/* General Styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	background: url('../employee.png') no-repeat center center/cover;
	background-size: 180%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; /* Aligns the elements vertically */
}

.login-box {
	width: 350px;
	padding: 40px 30px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.5); /* More transparent background with 50% opacity */
	box-shadow: 0 8px 20px rgba(0, 0, 0);
	text-align: center;
}

.login-box h1 {
	font-size: 28px;
	margin-bottom: 30px;
	color: rgb(44, 62, 80);
	border-bottom: 2px solid rgb(44, 62, 80);
	display: inline-block;
	padding-bottom: 5px;
}

.textbox {
	position: relative;
	margin-bottom: 25px;
	width: 100%;
}

.textbox i {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 18px;
	color: rgb(44, 62, 80);
}

.textbox input {
	width: calc(100% - 55px);
	padding: 12px 15px;
	margin-left: 30px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #f9f9f9;
	color: #333;
	font-size: 16px;
	outline: none;
}

.textbox input:focus {
	border-color: rgb(44, 62, 80);
	box-shadow: 0 0 8px rgba(44, 62, 80, 0.3);
	background: #ffffff;
}

.textbox input::placeholder {
	color: #999999;
}

.btn {
	width: 25%;
	padding: 10px;
	background: #007bff;
	border: none;
	border-radius: 25px;
	color: #efe8e8;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
	margin-top: 10px;
}

.btn:hover {
	background: #007bff;
	transform: scale(1.04);
}

/* Styling for "GO BACK" button */
.button1 {
	margin-top: 20px; /* Space between the login box and the button */
	text-align: center; /* Center the link */
}

.button {
	width: 100px;
	padding: 8px;
	border: 2px solid #007bff;
	border-radius: 25px;
	background: #007bff;
	color: #f2f3f2;
	font-size: 14px;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.button1:hover {
	background: #007bff;
	transform: scale(1.05); 
}
