* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: maroon;
    font-size: 2rem;
    margin-bottom: 30px;
}

table {
    width: 21.08%;
    margin: 8.76px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0.79px 3.90px rgba(0, 0, 0, 0.1);
}

caption {
    font-size: 0.351rem;
    font-weight: bold;
    margin-bottom: 2.93px;
}

th, td {
    padding: 3.51px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: white;
    padding: 1.76px 4.40px;
    border-radius: 5px;
    font-weight: bold;
}

.approve_btn {
    background-color: #4CAF50;
    margin-right: 3.18px;
}

.del_btn {
    background-color: #f44336;
}

.input-group {
    margin: 4.40px 0;
    padding: 1.59px;
}

.input-group label {
    font-size: 0.293rem;
    color: #555;
    display: block;
    margin-bottom: 1.59px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 3.18px;
    font-size: 0.293rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #4CAF50;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 3.47px 5.88px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.293rem;
    width: 100%;
    margin-top: 3.18px;
}

.btn:hover {
    background-color: #45a049;
}

.msg {
    background-color: #f9f9f9;
    color: #333;
    border: 2px solid maroon;
    color: maroon;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    section, form {
        width: 90%;
    }

    h1 {
        font-size: 22px;
        padding: 20px;
    }

    .input-group input[type="text"] {
        font-size: 5.94px;
    }
}

form {
    width: 14.94%;
    margin: 5.88px auto;
    background-color: #fff;
    padding: 5.88px;
    border-radius: 8px;
    box-shadow: 0 0.79px 3.90px rgba(0, 0, 0, 0.1);
}

form .input-group {
    margin-bottom: 5.88px;
}

.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hover-button:hover {
    background-color: rgb(162, 6, 6);
    transform: scale(1.1);
}
